.hero {
    background-image: url(images/nordwood-unsplash.png);
    background-position: right;
}

.contact-section {
    height: fit-content;
}

.contact-form {
    margin: 60px 0;
}

@media screen and (max-width: 768px) {
    .contact-form {
        margin: 0 0 60px;
    }
}