.hero {
    background-image: url(images/ux-indonesia-unsplash.png);
    background-position: bottom;
}

.blank {
    margin-top: 0;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products {
    background-image: url(images/sinitta-leunen-unsplash.jpg);
    background-size: cover;
    padding-bottom: 50px;
}

.outer-wrapper {
    width: 50%;
    margin: 0 auto;
    font-family: Myriad, sans-serif;
}

.outer-wrapper > h4 {
    font-size: 2.4vw;
    font-weight: 100;
    width: fit-content;
    margin: 0 auto 30px;
    padding-top: 60px;
}

.s-wrap {
    width: 100%;
    position: relative;
    border: 10px solid #fff;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.s-wrap>input {
    display: none;
}

.s-wrap .s-content {
    margin: 0;
    padding: 0;
    display: flex;
    width: 500%;
    height: fit-content;
    font-size: 20px;
    list-style: none;
    transition: transform 1s;
}

.s-wrap .s-item {
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.s-wrap .s-item > a {
    position: relative;
}

.s-wrap .s-item > a > p {
    position: absolute;
    bottom: 0;
    left: 70px;
    color: #fff;
    background-color: #17acc663;
    padding: 12px 50px;
    margin: 0;
    text-shadow: 0 0 4px #000;
}

.s-wrap .s-item > a > img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: contain;
    margin-top: 30px;
    padding: 0 70px;
}

.s-wrap .s-item > div {
    padding: 66px;
}

.s-wrap .s-item > div > a {
    text-decoration: none;
    color: #232323;
}

.s-wrap .s-item > div > a:hover {
    color: #17acc6;
}

.seperator {
    border: 1px solid #dbdbdb;
    margin: 20px 0;
}

.s-type-1 .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;
}

.s-type-1 .s-control>label[class^="s-c-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #efefe8;
    cursor: pointer;
}

.s-type-1 .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 44px 10px 44px 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-color: #02a4ed;
}

.s-type-1 .s-nav label::before {
    margin-bottom: -12px;
}

.s-type-1 .s-nav label.left {
    left: 20px;
}

.s-type-1 .s-nav label.left::before {
    transform: rotate(45deg);
}

.s-type-1 .s-nav label.left::after {
    transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right {
    right: 20px;
}

.s-type-1 .s-nav label.right::before {
    transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right::after {
    transform: rotate(45deg);
}

.s-type-1 #s-1:checked~.s-content {
    transform: translateX(0%);
}

.s-type-1 #s-1:checked~.s-control .s-c-1 {
    background-color: #02a4ed;
    border: none;
}

.s-type-1 #s-1:checked~.s-nav .s-nav-1 {
    display: block;
}

.s-type-1 #s-2:checked~.s-content {
    transform: translateX(-20%);
}

.s-type-1 #s-2:checked~.s-control .s-c-2 {
    background-color: #02a4ed;
    border: none;
}

.s-type-1 #s-2:checked~.s-nav .s-nav-2 {
    display: block;
}

.s-type-1 #s-3:checked~.s-content {
    transform: translateX(-40%);
}

.s-type-1 #s-3:checked~.s-control .s-c-3 {
    background-color: #02a4ed;
    border: none;
}

.s-type-1 #s-3:checked~.s-nav .s-nav-3 {
    display: block;
}

.s-type-1 #s-4:checked~.s-content {
    transform: translateX(-60%);
}

.s-type-1 #s-4:checked~.s-control .s-c-4 {
    background-color: #02a4ed;
    border: none;
}

.s-type-1 #s-4:checked~.s-nav .s-nav-4 {
    display: block;
}

.s-type-1 #s-5:checked~.s-content {
    transform: translateX(-80%);
}

.s-type-1 #s-5:checked~.s-control .s-c-5 {
    background-color: #02a4ed;
    border: none;
}

.s-type-1 #s-5:checked~.s-nav .s-nav-5 {
    display: block;
}

@keyframes slider-animation {

    0%,
    7% {
        transform: translateX(0%);
    }

    12.5%,
    19.5% {
        transform: translateX(-20%);
    }

    25%,
    32% {
        transform: translateX(-40%);
    }

    37.5%,
    44.5% {
        transform: translateX(-60%);
    }

    50%,
    57% {
        transform: translateX(-80%);
    }

    62.5%,
    69.5% {
        transform: translateX(-60%);
    }

    75%,
    82% {
        transform: translateX(-40%);
    }

    87.5%,
    94.5% {
        transform: translateX(-20%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .outer-wrapper {
        width: 70%;
    }

    .outer-wrapper > h4 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .outer-wrapper {
        width: 100%;
    }

    .outer-wrapper > h4 {
        font-size: 50px;
    }
    
    .s-wrap .s-item > a > img {
        padding: 0 12px;
    }

    .s-wrap .s-item > a > p {
        bottom: 7px;
        left: 12px;
    }

    .s-wrap .s-content {
        font-size: 15px;
    }
}