.hero {
    background-image: url(images/ux-indonesia-unsplash.png);
    background-position: bottom;
}

.blank {
    margin-top: 0;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products {
    background-image: url(images/sinitta-leunen-unsplash.jpg);
    background-size: cover;
    padding-bottom: 50px;
}

.outer-wrapper {
    width: 50%;
    margin: 0 auto;
    font-family: Myriad, sans-serif;
}

.outer-wrapper > h4 {
    font-size: 2.4vw;
    font-weight: 100;
    width: fit-content;
    margin: 0 auto 30px;
    padding-top: 60px;
}

#carouselExampleDark {
    background-color: #fff;
    padding: 50px 0;
    box-shadow: 0px 0px 20px #a9a9a9;
}

.caption {
    padding: 24px 66px;
}

.caption > a {
    text-decoration: none;
    color: #232323;
}

.caption > a:hover {
    color: #17acc6;
}

.caption > p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.seperator {
    border: 1px solid #dbdbdb;
    margin: 20px 0;
}

.contact-form {
    width: 600px;
}