@font-face {
    font-family: Myriad;
    src: url(fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: Myriad;
    src: url(fonts/Myriad\ Pro\ Bold\ SemiExtended.ttf);
    font-weight: bold;
}

body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.85);
}

.navbar {
    max-height: 84px;
    background-color: #fff;
    padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 200px;
    margin: 5px 0;
    cursor: pointer;
}

#navbar-menu {
    display: flex;
    list-style-type: none;
    font-size: large;
    margin-right: 2vw;
    font-family: Myriad, sans-serif;
    font-weight: bold;
    padding: 0;
}

#navbar-menu>li>a {
    text-decoration: none;
    margin: 0 15px 0 0;
    color: #0082b3;
}

#navbar-menu>li>a:hover {
    border-bottom: 2px solid #0082b3;
}

#menuToggle {
    display: none;
    position: absolute;
    top: 26px;
    right: 50px;
    z-index: 1;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #09abf6;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #585858;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    top: 30px;
    right: -50px;
    width: 100vw;
    margin: 0;
    padding: 50px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ededed;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(0, -116%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: #108db9;
    background: url(images/hero-background.png);
    background-size: cover;
}

.hero-main {
    text-align: center;
    font-family: Myriad, sans-serif;
    color: #fff;
}

.hero-main>h1 {
    margin-bottom: 0;
    font-size: 40px;
}

.hero-main>h1>span {
    font-size: 100px;
}

.hero-main>h2 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 7vw;
    line-height: 100%;
}

.hero-main>h3 {
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 40px;
}

.provide-word {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.provide-word::before {
    content: "";
    position: absolute;
    top: 23px;
    left: -88px;
    right: 0;
    bottom: 21px;
    background-color: #100000;
    z-index: -1;
}

.solutions-word {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.solutions-word::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 0;
    right: -34px;
    bottom: 21px;
    background-color: #100000;
    z-index: -1;
}

.hero-footer {
    background-color: #444444;
    margin: -100px 3vw 0;
    height: 308px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 1.8vw;
    font-family: 'Myriad', sans-serif;
}

.hero-footer>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-footer>div>i {
    font-size: 68px;
}

.hero-footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-footer-text {
    margin-top: 0;
    margin-bottom: 0;
}

.hero-footer-number {
    font-size: 3vw;
    margin: 0 15px 0 0;
}

.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 6vw;
    padding: 50px 0;
}

.main-section>img {
    width: 50vw;
    margin: 140px 50px 140px 0;
    border-radius: 50%;
}

.main-section>div {
    max-width: 750px;
    font-size: 2vw;
    font-family: Myriad, sans-serif;
}

.main-section>div>h4 {
    color: #03affb;
    margin-bottom: 0;
}

.main-section>div>p {
    line-height: 1.4;
    text-align: justify;
    margin-top: 13px;
}

.vision-mission-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: fit-content;
    background-color: #eef6f9;
    border: 4px solid #76bed6;
    border-radius: 45px;
    margin: 0 4vw;
    padding: 50px 40px;
    box-shadow: inset 0 0 5px 10px #c8e0ec;
    font-family: Myriad, sans-serif;
}

.vision-mission-section>img {
    margin-top: 50px;
    width: 23vw;
}

.vision-mission-section>div {
    max-width: 389px;
    text-align: center;
}


.vision-mission-section>div>img {
    max-width: 170px;
}

.vision-mission-section>div>h4 {
    color: #01a7f1;
    font-size: 40px;
    margin: 0;
}

.vision-mission-section>div>p {
    font-size: 24px;
    line-height: 1.4;
}

.values-section {
    margin: 0 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Myriad, sans-serif;
}

.values-section>h4 {
    font-size: 70px;
    color: #0096d1;
    margin-bottom: 0;
    text-transform: uppercase;
}

.values-section>p {
    max-width: 650px;
    color: #929090;
    margin-bottom: 50px;
}

.values-section>div {
    display: flex;
    justify-content: center;
}

.values-section>div>div {
    text-align: justify;
    display: flex;
    align-items: center;
    padding: 28px 34px;
}

.values-section>div>div>img {
    margin-right: 30px;
    max-width: 100px;
}

.values-section>div>div>div>h4 {
    color: #158fb4;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 22px;
}

.values-section>div>div>div>p {
    margin-top: 5px;
}

.first-integrity {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.second-integrity {
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.first-creativity {
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.second-creativity {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.blank {
    height: 250px;
    background-color: #13bfff;
    margin-top: 3px;
}

.contact-section {
    height: 680px;
    background: url(images/world-map.png);
    background-size: cover;
    font-family: Myriad, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 4vw;
}

.contact-section>h4 {
    font-size: 6vw;
    color: #028ade;
    text-transform: uppercase;
}

.contact-form {
    background-color: #444444;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px 40px;
    border: 22px solid #d5d1ce;
    margin-top: -164px;
}

.contact-form input {
    background-color: #444444;
    border: none;
    border-bottom: 2px solid #898989;
    margin-bottom: 45px;
    min-width: 236px;
    color: #fff;
}

.contact-form>textarea {
    background-color: #444444;
    margin-bottom: 45px;
    margin-top: 15px;
    color: #fff;
}

.contact-form>div {
    display: flex;
    justify-content: space-between;
}

.contact-form>div>div {
    display: flex;
    flex-direction: column;
}

#send {
    color: #fff;
    border: 1px solid #a4a4a4;
    border-radius: 20px;
    min-width: 0;
    max-width: 147px;
    padding: 11px 0;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0082b3;
    color: #fff;
    font-family: Myriad, sans-serif;
    height: 500px;
}

.footer>img {
    max-width: 300px;
}

.footer h4 {
    font-size: 20px;
}

.footer>div {
    max-width: 400px;
    padding: 0 12px;
}

.footer>div>div {
    display: flex;
    align-items: center;
}

.footer>div>div>a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-right: 20px;
}

footer {
    color: #fff;
    background-color: #3e3e3e;
    padding: 1px;
    font-size: 18px;
    text-align: center;
    font-family: Myriad, sans-serif;;
}

footer > p {
    margin: 14px 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .contact-section {
        flex-direction: column-reverse;
        height: fit-content;
    }

    .contact-section>h4 {
        font-size: 64px;
        margin-bottom: 44px;
    }

    .contact-form {
        margin-top: 0;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    #menuToggle {
        display: block;
    }

    #navbar-menu {
        display: none;
    }

    .navbar {
        max-height: fit-content;
    }

    .navbar img {
        width: 150px;
    }

    .provide-word::before,
    .solutions-word::before {
        content: unset;
    }

    .hero {
        height: fit-content;
    }

    .hero-main {
        padding: 130px 0;
    }

    .hero-main>h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .hero-main>h1>span {
        font-size: 50px;
    }

    .hero-main>h2 {
        font-size: 35px;
    }

    .hero-main>h3 {
        font-size: 26px;
    }

    .hero-footer {
        display: block;
        height: fit-content;
        padding: 85px 0;
        margin: 0;
        font-size: 26px;
    }

    .hero-footer>div>i {
        margin: 25px 0 16px;
    }

    .hero-footer-number {
        font-size: 50px;
    }

    .main-section {
        display: block;
        margin: 0 32px;
    }

    .main-section>div {
        font-size: 22px;
    }

    .main-section>img {
        width: -webkit-fill-available;
        margin: 0;
    }

    .values-section {
        margin: 0px 34px 34px;
    }

    .values-section>div {
        display: block;
    }

    .values-section>div>div {
        width: fit-content;
        flex-direction: column;
    }

    .values-section>div>div>img {
        margin-right: 0;
    }

    .first-integrity {
        border-right: none;
    }

    .second-integrity {
        border-left: none;
    }

    .first-creativity {
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .second-creativity {
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .blank {
        height: 140px;
    }

    .vision-mission-section {
        flex-direction: column;
        align-items: center;
        margin: 0 13px;
    }

    .vision-mission-section>img {
        max-width: -webkit-fill-available;
        margin-bottom: 70px;
        margin-top: 70px;
    }

    .contact-section {
        margin: 0;
        flex-direction: column-reverse;
        height: fit-content;
    }

    .contact-section>h4 {
        font-size: 33px;
    }

    .contact-form {
        margin-top: unset;
        width: -webkit-fill-available;
        margin-bottom: 35px;
    }

    .contact-form>div {
        display: block;
    }

    .footer {
        flex-direction: column;
        height: fit-content;
        padding: 40px 24px;
        align-items: unset;
    }

    .footer>div {
        min-width: unset;
    }
}