@font-face {
    font-family: Myriad;
    src: url(fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: Myriad;
    src: url(fonts/Myriad\ Pro\ Bold\ SemiExtended.ttf);
    font-weight: bold;
}

body {
    margin: 0;
}

.navbar {
    max-height: 84px;
    background-color: #fff;
    padding-left: 20px;
}

.logo-img {
    width: 200px;
    margin: 5px 0;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: #108db9;
    background: url(images/workperch-unsplash.png);
    background-size: cover;
}

.hero-main {
    text-align: center;
    font-family: Myriad, sans-serif;
    color: #fff;
}

.hero-main > h1 {
    margin-bottom: 0;
    font-size: 40px;
}

.hero-main > h1 > span {
    font-size: 100px;
}

.hero-main > h2 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 100px;
    line-height: 100%;
}

.hero-main > h3 {
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 40px;
}

.provide-word {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.provide-word::before { 
    content: ""; 
    position: absolute; 
    top: 23px; 
    left: -88px; 
    right: 0; 
    bottom: 21px; 
    background-color: #100000;
    z-index: -1; 
} 

.solutions-word {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.solutions-word::before { 
    content: ""; 
    position: absolute; 
    top: 23px; 
    left: 0; 
    right: -34px; 
    bottom: 21px; 
    background-color: #100000; 
    z-index: -1;
}

.hero-footer {
    background-color: #444444;
    margin: -100px 160px 0;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.hero-footer > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-footer > div > i {
    font-size: 68px;
}

.hero-footer-section {
    display: flex;
}

.hero-footer-text {
    margin-top: 0;
}

.hero-footer-number {
    font-size: 60px;
    margin: 0 15px 0 0;
}

.main-section {
    display: flex;
    justify-content: space-around;
    margin: 0 160px;
    padding: 50px 0;
}

.main-section > img {
    width: 600px;
    margin: 140px 0;
}
.main-section > div {
    max-width: 750px;
    font-size: 35px;
    font-family: Myriad, sans-serif;
}

.main-section > div > h4 {
    color: #03affb;
    margin-bottom: 0;
}

.main-section > div > p {
    line-height: 1.4;
    text-align: justify;
    margin-top: 13px;
}

.vision-mission-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 500px;
    background-color: #eef6f9;
    border: 4px solid #76bed6;
    border-radius: 45px;
    margin: 0 100px;
    padding: 50px 40px;
    box-shadow: inset 0 0 5px 10px #c8e0ec;
    font-family: Myriad, sans-serif;
}

.vision-mission-section > img {
    margin-top: 126px;
}

.vision-mission-section > div {
    max-width: 389px;
    text-align: center;
}

.vision-mission-section > div > h4 {
    color: #01a7f1;
    font-size: 40px;
    margin: 0;
}

.vision-mission-section > div > p {
    font-size: 24px;
    line-height: 1.4;
}

.values-section {
    margin: 0 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Myriad, sans-serif;
}

.values-section > h4 {
    font-size: 70px;
    color: #0096d1;
    margin-bottom: 0;
    text-transform: uppercase;
}

.values-section > p {
    max-width: 650px;
    color: #929090;
    margin-bottom: 50px;
}

.values-section > div {
    display: flex;
    justify-content: center;
}

.values-section > div > div {
    text-align: justify;
    display: flex;
    align-items: center;
    width: 700px;
    padding: 28px 34px;
}

.values-section > div > div > img { 
    margin-right: 40px;
}

.values-section > div > div > div > h4 {
    color: #158fb4;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 22px;
}

.values-section > div > div > div > p {
    margin-top: 5px;
}

.first-integrity {
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.second-integrity {
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.first-creativity {
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.second-creativity {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.blank {
    height: 250px;
    background-color: #13bfff;
    margin-top: 3px;
}

.contact-section {
    height: 680px;
    background: url(images/world-map.png);
    background-size: cover;
    font-family: Myriad, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
}

.contact-section > h4 {
    font-size: 110px;
    color: #028ade;
    text-transform: uppercase;
}

.contact-form {
    background-color: #444444;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px 40px;
    border: 22px solid #d5d1ce;
    margin-top: -164px;
}

.contact-form input {
    background-color: #444444;
    border: none;
    border-bottom: 2px solid #898989;
    margin-bottom: 45px;
    min-width: 236px;
    color: #fff;
}

.contact-form > textarea {
    background-color: #444444;
    margin-bottom: 45px;
    margin-top: 15px;
    color: #fff;
}

.contact-form > div {
    display: flex;
    justify-content: space-between;
}

.contact-form > div > div {
    display: flex;
    flex-direction: column;
}

#send {
    color: #fff;
    border: 1px solid #a4a4a4;
    border-radius: 20px;
    min-width: 0;
    max-width: 147px;
    padding: 11px 0;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0082b3;
    color: #fff;
    font-family: Myriad, sans-serif;
    height: 500px;
}

.footer h4 {
    font-size: 20px;
}

.footer > div {
    min-width: 400px;
    max-width: 400px;
}

.footer > div > div {
    display: flex;
    align-items: center;
}

.footer > div > div > i {
    font-size: 36px;
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar {
        max-height: fit-content;
    }

    .navbar img{
        width: 218px;
    }

    .solutions-word::before {
        right: unset;
    }

    .hero {
        height: fit-content;
    }

    .hero-main {
        padding: 130px 0;
    }

    .hero-main > h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .hero-main > h2 {
        font-size: 40px;
    }

    .hero-main > h1 > span {
        font-size: 50px;
    }

    .hero-footer {
        display: block;
        height: fit-content;
        padding: 85px 0;
        margin: 0;
    }

    .main-section {
        display: block;
        margin: 0 32px;
    }

    .main-section > img {
        width: -webkit-fill-available;
        margin: 0;
    }

    .values-section {
        margin: 0px 34px 34px;
    }

    .values-section > div {
        display: block;
    }

    .values-section > div > div { 
        width: fit-content;
        flex-direction: column;
    }

    .values-section > div > div > img {
        margin-right: 0;
    }

    .first-integrity {
        border-right: none;
    }

    .second-integrity {
        border-left: none;
    }

    .first-creativity {
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .second-creativity {
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .vision-mission-section {
        flex-direction: column;
        align-items: center;
        margin: 0 13px;
        height: fit-content;
    }

    .vision-mission-section > img {
        max-width: -webkit-fill-available;
        margin-bottom: 126px;
    }

    .contact-section {
        margin: 0;
        flex-direction: column-reverse;
        height: fit-content;
    }

    .contact-section > h4 {
        font-size: 33px;
    }

    .contact-form {
        margin-top: unset;
        width: -webkit-fill-available;
        margin-bottom: 35px;
    }

    .contact-form > div {
        display: block;
    }

    .footer {
        flex-direction: column;
        height: fit-content;
        padding: 40px 0;
    }
}